on:
  pull_request:
  push:
    branches:
    - unified-runtime

jobs:
  ci:
    env:
      no_proxy: devtools.intel.com
      DEBIAN_FRONTEND: noninteractive
      ONEAPI_PASSPHRASE: ${{ secrets.ONEAPI_PASSPHRASE }}
      PUBLISH_CMD: python oneapi-publish.py publish --html ../html --doc unified-runtime  --version 0.6
    runs-on: dds-base
    steps:
    - uses: actions/checkout@v3
    - name: Checkout scripts
      uses: actions/checkout@v3
      with:
        ref: main
        path: scripts
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install publishing pre-requisites
      run: |
        cd scripts
        python oneapi-publish.py setup
    - name: Publish to pre-production
      if: ${{ github.ref != 'refs/heads/unified-runtime' }}
      run: |
        cd scripts
        ${PUBLISH_CMD}
    - name: Publish to production
      if: ${{ github.ref == 'refs/heads/unified-runtime' }}
      run: |
        cd scripts
        ${PUBLISH_CMD} --prod
